ENV=dev

# Backend / Django
DJANGO_SECRET_KEY=
DJANGO_SERVER_HOST=
DJANGO_SERVER_PORT=

# PostgreSQL
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Redis
REDIS_SERVER_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# OpenSearch database for discount system
OPENSEARCH_HOST=
OPENSEARCH_ADMIN_PASSWORD=
OPENSEARCH_NODE_PORT=
OPENSEARCH_DASHBOARD_PORT=
OPENSEARCH_USERNAME=
OPENSEARCH_VERIFY_CERTS=

# Retailers API
YEREVAN_CITY_DATA_SOURCE_URL=
YEREVAN_CITY_PRODUCTS_DETAILS_URL=

SAS_AM_MAIN_PAGE_URL=
SAS_AM_DATA_SOURCE_URL=

# Infrastructure (use metax-fluent-bit when running via metax.docker-compose.yml)
FLUENT_BIT_HOST=metax-fluent-bit
FLUENT_BIT_PORT=24224
