ENV=dev

SQLITE_DB_NAME=

DISCOUNT_SERVICE_OPENSEARCH_INITIAL_ADMIN_PASSWORD=
DISCOUNT_SERVICE_OPENSEARCH_USER=admin
DISCOUNT_SERVICE_OPENSEARCH_NODE_HOST=localhost
DISCOUNT_SERVICE_OPENSEARCH_NODE_PORT=
OPENSEARCH_DASHBOARD_PORT=
DISCOUNT_SERVICE_OPENSEARCH_VERIFY_CERTS=

DJANGO_SECRET_KEY=
DJANGO_SERVER_HOST=localhost
DJANGO_SERVER_PORT=

REDIS_SERVER_HOST=
REDIS_PORT=
REDIS_PASSWORD=