# Primary dependencies (directly required by the project)
dependency-injector==4.48.2
mypy==1.18.2
pre_commit==4.4.0
ruff==0.14.5

# Installed dependencies (transitive / installed automatically)
cfgv==3.4.0
distlib==0.4.0
filelock==3.20.0
identify==2.6.15
mypy_extensions==1.1.0
nodeenv==1.9.1
pathspec==0.12.1
platformdirs==4.5.0
PyYAML==6.0.3
typing_extensions==4.15.0
virtualenv==20.35.4
