ENV=dev
DJANGO_SECRET_KEY="django-insecure-bp^ztjw1urwqz4+=(+!k=k^zzdz8c2+qwr7z1_!1mo-%j5^)0s"
DISCOUNT_SERVICE_OPENSEARCH_USER=admin
DISCOUNT_SERVICE_OPENSEARCH_INITIAL_ADMIN_PASSWORD=
DISCOUNT_SERVICE_OPENSEARCH_NODE_HOST=
DISCOUNT_SERVICE_OPENSEARCH_NODE_PORT=
OPENSEARCH_DASHBOARD_PORT=
